<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About Us</title>
</head>
<style>
   
    
</style>

<body>
    <header class="header">
        <nav class="header__menu">
            <a class="header__menu__link" href="index.html">Home</a>
            
        </nav>
    </header>

    <main class="container">
        <section class="container__content">
            <h1 class="container__content__title"><strong class="title-highlight" >StockGenius:</strong> Efficient Solutions for Inventory Management
            </h1>
            <p class="container__content__paragraph">Welcome to StockGenius, a company specialized in providing efficient solutions for inventory management. With a consolidated experience in the market, we are committed to helping companies of all sizes optimize their inventory control processes, increasing operational efficiency, and reducing costs.
            </p>
            <p class="container__content__paragraph">If you are looking for a reliable and experienced company to improve your company's inventory management, contact ControleMaster. We are here to help you achieve the next level of operational efficiency and business success.
            </p>
        </section>
        <img class="img" src="img/form_Img.png" alt="#">
    </main>

    <footer class="footer">
        <p>Developed by BackGuys</p>
    </footer>
</body>

</html>
