@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
body{background-color: rgb(2, 2, 2);
font-family: 'montserrat',sans-serif;}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #0B60B0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
 
  input[type=submit] {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    border: 1px solid #0B60B0;
  }
 
  input[type=submit]:hover {
    background-color: #272727;
  }
 .div1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22px;
 }
  .div2{
    border-radius: 30px;
    background-color: black;
    padding: 30px;
    width: 50%;
    text-align: start;
    box-shadow: 0px 0px 8px #0B60B0;
  
}
.title{font-size: 26px;
  font-weight: 800;
color: white;}