<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="forms.css" />
    <title>Cadastro</title>
  </head>
  <body>
    <div class="div1">
      <div class="div2">
      <form>
        <label class="title" for="category">Category</label>
        <input
          type="text"
          id="category"
          name="Category"
          placeholder="Product Category"
        />

        <label class="title"  for="name">Product Name</label>
        <input type="text" id="name" name="name" placeholder="Product Name" />

        <label class="title"  for="Description">Description</label>
        <input
          type="text"
          id="desc"
          name="Description"
          placeholder="Product Description"
        />

        <label class="title"  for="Price">Price</label>
        <input
          type="text"
          id="price"
          name="price"
          placeholder="Product Price"
        />

        <label class="title"  for="quantity">Quantity in Stock</label>
        <input
          type="text"
          id="quant"
          name="quantity"
          placeholder="Product quantity"
        />

        <label class="title"  for="country">SMU(Stock Maintenance Unit)</label>
        <select id="row" name="Row">
          <option value="#"></option>
          <option value="#">A</option>
          <option value="#">B</option>
          <option value="#">C</option>
        </select>
        <select name="Column" id="column">
          <option value="#"></option>
          <option value="#">1</option>
          <option value="#">2</option>
          <option value="#">3</option>
        </select>

        <input id="btn" type="submit" value="Save" />
      </form>
    </div>
  </div>
    <script src="Script.js"></script>
  </body>
</html>
