
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
 
<body>
    <header>
        <nav class="header__menu">
            <a class="header__menu__link" href="home.html">Home</a>
        </nav>
    </header>
    <main class="container">
        <section class="container__content">
            <h1 class="container__content__title">Register your product<strong class="title-highlight"> with a Quality
                    System!</strong></h1>
            <p class="container__content__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Blanditiis
                    officiis</strong> modi accusantium consequuntur accusantium recusandae, adipisci distinctio.</p>
            <div class="container__links">
                <h2 class="container__links_subtitle">Access our services</h2>
                <a class="container__links__button" href="about.html">
                    About Us
                </a>
                <a class="container__links__button" href="">
                    Tutorial
                </a>
                <a class="container__links__button" href="forms.html">
                    Register
                </a>
            </div>
        </section>
        <img class="imgtest" src="img/imgProject.png" alt="#">
    </main>
    <footer class="footer">
        <p>StockGenius.</p>
    </footer>    
</body>
 
</html>
