@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #f6f6f6;
    --tertiary-color: #0B60B0;
    --hover-color: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
}

.title-highlight {
    color: var(--tertiary-color);
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__content__title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.container__content__paragraph {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.container__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.container__links__subtitle {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.container__links__button {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--tertiary-color);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 24px;
    padding: 20px 0;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
}

.container__links__button:hover {
    background-color: var(--hover-color);
}

.footer {
    padding: 14px;
    color: var(--secondary-color-color);
    background-color: var(--tertiary-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400px;
}
.imgtest{
    width: 600px;
}