<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="stylization/tutorial.css">
    <title>Tutorial</title>
</head>
 
<body>
    <header class="header">
        <nav class="header__menu">
            <a class="header__menu__link" href="home.html">Home</a>
            <a class="header__menu__link" href="about.html">About Us</a>
        </nav>
    </header>
 
    <main class="container">
        <section class="container__content">
            <h1 class="container__content__title">Tutorial</h1>
            <p class="container__content__paragraph"><strong class="highlight-title">1-</strong> After logging in (if necessary), look for an option in the menu or
                 click on this option to access the product registration page. On the product registration page, you will
                find fields to fill in the product details. <br> <strong class="highlight-title">2-</strong> Fill in the mandatory fields such as product name,
                description, available quantity, price, category, etc. <br><strong class="highlight-title">3-</strong> If there are additional options such as product
                images or advanced details, fill them in as necessary. <br><strong class="highlight-title">4-</strong> After filling in all the product details, review
                the information to ensure it is correct and complete. <br><strong class="highlight-title">5-</strong> Check for spelling errors, missing information, or
                inconsistencies in the provided data. <br><strong class="highlight-title">6-</strong> After reviewing the information, find the "Submit", "Save",
                or "Register" button on the page. <br><strong class="highlight-title">7-</strong> Click on this button to submit the product registration.</p>
                <a class="container__links__button" href="forms.html">Access Registration Page</a>
        </section>
    </main>
 
    <footer class="footer">
        <p>Developed by BackGuys</p>
    </footer>
</body>
 
</html>
